<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
   <!-- FontAwesome -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
   
  <link href="/css/Responables.css" rel="stylesheet">
</head>
<body>
 <!-- Header -->
 <%- include('../partials/header.ejs') %>
 <!-- Header Ends!! -->
 <div class="table-controls">  

    <div class="arrow">
        <a href="/dashboard">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
   
    <div class="card-body">
  
        <table>
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>name_companies</th>
                    <th>username</th>
                    <th>name_car</th>
                    <th>Temps</th>
                    <th>Lieu_de_ramassage</th>
                    <th>Date_de_ramassage</th>
                    <th>prix</th>
                    <th>nombre_seats</th>
                    <th>car_model</th>
                    
                  
                    
                </tr>
            </thead>
            <tbody>
                <% cars.forEach(car => { %>
                <tr>
                    <td><img src="<%= car.photo %>" alt="<%= car.car_model %>"></td>  
                    <td><%= car.name_companies %></td>
                    <td><%= car.username %></td>
                    <td><%=  car.name_car %></td>
                    <td><%= car.Temps %></td>
                    <td><%= car.Lieu_de_ramassage %></td>
                    <td><%= car.Date_de_ramassage %></td>
                    <td><%= car.prix %></td>
                    <td><%= car.nombre_seats %></td>
                    <td><%= car.car_model %></td>
                    
                   
                   
                    
                    
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
        <%- include('../partials/footer.ejs') %>

</body>
</html>
