<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
   <!-- FontAwesome -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
   
  <link href="/css/Responables.css" rel="stylesheet">
</head>
<style>
    .table-controls {
    display: flex;
    justify-content: space-between; /* Align controls to the right */
    padding: 10px 70px;
    margin-bottom: 1px;
}



.arrow{
    font-size: 25px;
}
.arrow a{
    font-size: 30px;
    color: black;
}
</style>
<body>
 <!-- Header -->
 <%- include('../partials/header.ejs') %>
 <!-- Header Ends!! -->

 <div class="table-controls">  

    <div class="arrow">
        <a href="/dashboard">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div> 

   
    <div class="card-body">

  
        <table>
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Voiture</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Numéro_Téléphone</th>
                    <th>Genre</th>
                    <th>Email</th>
                    <th>Date_Sortie</th>
                    <th>Date_retourne</th>
                    <th>Prix</th>
                    
                </tr>
            </thead>
            <tbody>
                <% carReservationAdmin.forEach(car_rese => { 
                    const dateSortieCar = new Date(car_rese.date_sortie_car);
                    const dateRetourne = new Date(car_rese.date_retourne);
                    const diffTime = Math.abs(dateRetourne - dateSortieCar);
                    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                    const totalPriceCar = car_rese.name_companies ? car_rese.name_companies.prix * diffDays : 0;
                %>
                    <tr>
                        <% if (car_rese.name_companies) { %>
                            <td><img src="<%= car_rese.name_companies.photo %>" alt="<%= car_rese.name_companies.name_companies %>"></td>
                            <td><%= car_rese.name_companies.name_companies %></td>
                        <% } else { %>
                            <td>No Image Available</td>
                            <td>No Company Available</td>
                        <% } %>
                        <td><%= car_rese.Nom %></td>
                        <td><%= car_rese.Prenom %></td>
                        <td><%= car_rese.tele %></td>
                        <td><%= car_rese.genre %></td>
                        <td><%= car_rese.Email %></td>
                        <td><%= new Date(car_rese.date_sortie_car).toLocaleDateString() %></td>
                        <td><%= new Date(car_rese.date_retourne).toLocaleDateString() %></td>
                        <td>$<%= totalPriceCar %></td>
                    </tr>
                <% }); %>
            </tbody>
            
            
        </table>
    </div>
        <%- include('../partials/footer.ejs') %>

</body>
</html>
