<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
   <!-- FontAwesome -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
   
  <link href="/css/Responables.css" rel="stylesheet">
</head>
<style>
    .table-controls {
    display: flex;
    justify-content: space-between; /* Align controls to the right */
    padding: 10px 70px;
    margin-bottom: 1px;
}



.arrow{
    font-size: 25px;
}
.arrow a{
    font-size: 30px;
    color: black;
}
</style>
<body>
 <!-- Header -->
 <%- include('../partials/header.ejs') %>
 <!-- Header Ends!! -->

 <div class="table-controls">  

    <div class="arrow">
        <a href="/dashboard">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div> 

   
    <div class="card-body">

  
        <table>
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>name_compagnies</th>
                    <th>username</th>
                    <th>prix</th>
                    <th>lieu_depart</th>
                    <th>lieu_arrivee</th>
                    <th>heure_depart</th>
                    <th>heure_arrivee</th>
                   
                    
                </tr>
            </thead>
            <tbody>
                <% flights.forEach(flight => { %>
                <tr>
                    <td><img src="<%= flight.photo %>" alt="<%= flight.name_compagnies %>"></td>  
                    <td><%= flight.name_compagnies %></td>
                    <td><%= flight.username %></td>
                    <td><%= flight.prix %></td>
                    <td><%= flight.lieu_depart %></td>
                    <td><%= flight.lieu_arrivee %></td>
                    <td><%= flight.heure_depart %></td>
                    <td><%= flight.heure_arrivee %></td>
                    
                   
                   
                    
                    
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
        <%- include('../partials/footer.ejs') %>

</body>
</html>
