<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
   <!-- FontAwesome -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
   
  <link href="/css/Responables.css" rel="stylesheet">
</head>
<style>
    .table-controls {
    display: flex;
    justify-content: space-between; /* Align controls to the right */
    padding: 10px 70px;
    margin-bottom: 1px;
}



.arrow{
    font-size: 25px;
}
.arrow a{
    font-size: 30px;
    color: black;
}
</style>
<body>
 <!-- Header -->
 <%- include('../partials/header.ejs') %>
 <!-- Header Ends!! -->

 <div class="table-controls">  

    <div class="arrow">
        <a href="/dashboard">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div> 

   
    <div class="card-body">

  
        <table>
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Nom_Hotel</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Numéro_Téléphone</th>
                    <th>Date_entre</th>
                    <th>Date_sortie</th>
                    <th>Nombre_Personne</th>
                    <th>Nombre_Chambre</th>
                    <th>Prix</th>
                   
                    
                </tr>
            </thead>
            <tbody>
                <% hotelReservationAdmin.forEach(hotelRes => { %>
                    <tr>
                        <% if (hotelRes.Nom_Hotel) { %>
                            <td><img src="<%= hotelRes.Nom_Hotel.Photo %>" alt="<%= hotelRes.Nom_Hotel.Nom_Hotel %>"></td>
                            <td><%= hotelRes.Nom_Hotel.Nom_Hotel %></td>
                            <td><%= hotelRes.Nom %></td>
                            <td><%= hotelRes.Prénom %></td>
                            <td><%= hotelRes.Numéro_Téléphone %></td>
                            <td><%= hotelRes.Date_entre %></td>
                            <td><%= hotelRes.Date_sortie %></td>
                            <td><%= hotelRes.Nombre_Personne %></td>
                            <td><%= hotelRes.Nombre_Chambre %></td>
                            <td>$<%= hotelRes.Nom_Hotel.Prix %></td>
                        <% } else { %>
                            <td colspan="10">Hoteles Reservation</td>
                        <% } %>
                    </tr>
                <% }); %>
                
            </tbody>
        </table>
    </div>
        <%- include('../partials/footer.ejs') %>

</body>
</html>
