<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Example</title>
  

  <link href="/css/Responables.css" rel="stylesheet">
</head>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Header Ends!! -->
  
  <div class="main-content">
    <div class="content">
      <div class="new-table">  
        <a href="add-responsable">
            <button class="button-primary">
                <i class="button-Ajoute"></i> Ajouter Responsable
            </button>
        </a>
        <a href="/dashboard">
            <i class="button-arrow"></i>
        </a>
      </div>

      <div class="Cart">
        <div class="Cart_body">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Name_responsable</th>
                        <th>Name_companies</th>
                        <th>Birthday</th>
                        <th>Tele</th>
                        <th>Birthplace</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Type</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% responsables.forEach(responsable => { %>
                    <tr>
                        <td><%= responsable.name_Responsable %></td>
                        <td><%= responsable.name_companies %></td>
                        <td><%= responsable.birthday %></td>
                        <td><%= responsable.num_tel %></td>
                        <td><%= responsable.birthplace %></td>
                        <td><%= responsable.email %></td>
                        <td><%= responsable.username %></td>
                        <td>
                            <div class="text_white" style="<%= responsable.type === 'car' ? 'background-color: #1d3b53; width: 50px;' : responsable.type === 'flight' ? 'background-color: #6610f2; width: 50px;' : 'background-color: #8f55c1; width: 50px;' %>">
                                <%= responsable.type %>
                            </div>
                        </td>
                        <td>
                            <a href="/edit-responsable/<%= responsable._id %>" class="button-light">Edit</a>
                            <form action="/edit-responsable/<%= responsable._id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit" class="button-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- Footer Ends!! -->
</body>
</html>
