<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Settings.css">
    <title>Profile Settings</title>
</head>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Header Ends!! -->
<body class="bg-light text-dark">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow bg-white text-dark">
                    <div class="card-header border-bottom ">
                        <h5 class="card-header-title ">Profile Settings</h5>
                    </div>
                    <div class="card-body">
                        <% infoAdmin.forEach(admin => { %>
                            
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control bg-light text-dark " placeholder="Username" readonly="readonly" value="<%= admin.username %>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Profile Picture</label>
                                <div class="d-flex justify-content-start align-items-center">
                                    <label class="position-relative" for="uploadfile-1" title="Replace this pic">
                                        <span class="avatar avatar-xl">
                                            <img id="uploadfile-1-preview" class="avatar-img rounded-circle border border-3 shadow" src="img/Amin.png" alt="" style="border-radius: 50%;">
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="text" class="form-control bg-light text-dark " placeholder="Password" readonly="readonly" >
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control bg-light text-dark " placeholder="Email" readonly="readonly" value="<%= admin.email %>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Telephone</label>
                                <input type="text" class="form-control bg-light text-dark " placeholder="Telephone" readonly="readonly" value="<%= admin.tele %>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Role</label>
                                <input type="text" class="form-control bg-light text-dark " placeholder="Role" readonly="readonly" value="<%= admin.role %>">
                            </div>
                        <% }); %>
    
                        <div class="d-flex justify-content-end mt-4">
                            <a href="/dashboard" class="btn btn-primary text-white me-2" style="background-color: #009EE2;">Discard</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
<%- include('../partials/footer.ejs') %>



</html>
