<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/add-responsable.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<style>
  .table-controls {
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    margin-bottom: 1px;
  }


</style>
<body>
  <%- include('../partials/header-client.ejs') %>


 
  <div class="container center-card">
    <section>
      <div class="container">
        <div class="card shadow">
          <div class="card-header border-bottom">
            <h5 class="mb-0">Réservation Car</h5>
          </div>
          <div class="card-body">
            <form action="/add-ReservationCar" method="POST">
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label">Nom</label>
                  <input class="form-control" type="text" name="Nom" placeholder="Entrez votre nom" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Prénom</label>
                  <input class="form-control" type="text" name="Prenom" placeholder="Entrez votre prénom" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">username</label>
                  <input class="form-control" type="text" name="username" placeholder="Entrez votre username" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Nom Voiture</label>
                  <select class="form-control" name="name_companies" >
                    <option value="" disabled selected>Choisissez une voiture</option>
                    <% 
                      const uniqueCarNames = new Set(cars.map(car => car.name_companies));
                      uniqueCarNames.forEach(carName => { %>
                        <option value="<%= carName %>"><%= carName %></option>
                    <% }); %>
                  </select>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Date de Sortie de la Voiture</label>
                  <input class="form-control" type="date" name="date_sortie_car" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Date de Retour</label>
                  <input class="form-control" type="date" name="date_retourne" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Email</label>
                  <input class="form-control" type="email" name="Email" placeholder="Entrez votre Email" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Numéro Téléphone</label>
                  <input class="form-control" type="tel" name="tele" placeholder="Numéro Téléphone" required>
                </div>
                <div class="col-md-6">
                  <label for="genre">Genre:</label>
                  <select id="genre" name="genre" class="form-control" required>
                    <option value="" disabled selected>Choisissez votre genre</option>
                    <option value="femme">Femme</option>
                    <option value="homme">Homme</option>
                  </select>
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-primary">Sauvegarder</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%- include('../partials/footer-client.ejs') %>

</body>
</html>
