<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>
    <%- include('../partials/header-client.ejs') %>


<section class="pt-0" style="display: flex; align-items: center; justify-content: center;margin-right: 14%;
">
	<div class="container" >
		<!-- Background image -->
        <div class="rounded-3 p-3 p-sm-5" style="background-image: url(/img/05.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 72vh; width: 80vw; margin-top:9%;">
			<!-- Banner title -->
			<div class="row my-2 my-xl-5"> 
				<div class="col-md-8 mx-auto"> 
					<h1 class="text-center text-white">150 Hotels in New York</h1>
				</div>
			</div>
                       




     
                    <!-- Title -->
                  
    
                    <form action="/client-Hotel" method="post" class="card shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4 " style="margin-top: 20% !important;">
                        <div class="row g-4 align-items-center justify-content-center" >
                            <div class="col-lg-4">
                                <div class="d-flex">
                                    <!-- Icon -->
                                    <i class="bi bi-geo-alt fs-3 me-2 mt-2"></i>
                                    <!-- Date input -->
                                    <div class="form-control-border form-control-transparent form-fs-md">
                                        <label class="form-label">Location</label>
                                        <select name="Adresse_Hotel" class="form-control flatpickr " placeholder="Select hotel">
                                            <% 
                                            const uniqueAddresses = new Set(hotelfind.map(h => h.Adresse_Hotel));
                                            uniqueAddresses.forEach(address => { 
                                          %>
                                            <option value="<%= address %>"><%= address %></option>
                                          <% }) %>
                                        </select>
                                        </div>
                                </div>
                            </div>
                            <!-- Check in -->
                            <div class="col-lg-4" >
                                <div class="d-flex">
                                    <!-- Icon -->
                                    <i class="bi bi-calendar fs-3 me-2 mt-2"></i>
                                    <!-- Date input -->
                                    <div class="form-control-border form-control-transparent form-fs-md">
                                        <label class="form-label">Check in - out</label>
                                        <input type="date" class="form-control flatpickr" data-mode="range" placeholder="Select date" value="19 Sep to 28 Sep">
                                    </div>
                                    <button type="submit" class="btn-position-md-middle" style="border: none; background-color: transparent;">
                                        <a class="icon-lg btn btn-round btn-primary mb-0" href="#"><i class="fa fa-search fa-fw"></i></a>
                                    </button>
                                </div>
                           
                </div>
                </form>
                </div>
    
    
    

          
         
            
	
	
  

 </section>

  
    <section class="pt-0">
        <div class="container">
            <div class="row g-4">
    
    
                <!-- Card item START -->
                 <% hotelfind.forEach(hotelfind => { %>
                    <div class="col-md-6 col-xl-4 mt-4 mb-9">
                        <div class="card shadow p-1 pb-0  ">
                            <!-- Image -->
                            <img style="height: 30vh;"  src=<%= hotelfind.Photo %> class="rounded-2" alt="Card image" >
        
                            <!-- Card body START -->
                            <div class="card-body px-3 pb-0">
                                <!-- Rating and cart -->
                                <div class="d-flex justify-content-between mb-3">
                                    <a href="#" class="badge bg-dark text-white"><i class="bi fa-fw bi-star-fill me-2 text-warning"></i>4.0</a>
                                    <a href="#" class="h6 mb-0 z-index-2"><i class="bi bi-heart"></i></a>
                                </div>
        
                                <!-- Title -->
                                <h5 class="card-title"><%= hotelfind.Nom_Hotel %> </h5>
        
                                <!-- List -->
                                <ul class="nav nav-divider mb-2 mb-sm-3">
                                    <li class="nav-item">Air Conditioning</li>
                                    <li class="nav-item">Wifi</li>
                                    <li class="nav-item">Pool</li>
                                    <li class="nav-item">More+</li>
                                </ul>
                            </div>
                            <!-- Card body END -->
        
                            <!-- Card footer START-->
                            <div class="card-footer pt-0">
                                <!-- Price and Button -->
                                <div class="d-sm-flex justify-content-sm-between align-items-center">
                                    <!-- Price -->
                                    <div class="d-flex align-items-center">
                                        <h5 class="fw-normal text-success mb-0 me-1">$<%= hotelfind.Prix %></h5>
                                        <span class="mb-0 me-2">/day</span>
                                    </div>
                                    <!-- Button -->
                                    <div class="mt-2 mt-sm-0 z-index-2">
                                        <a href="reserver-Hotel " class="btn btn-sm btn-primary-soft mb-0 w-100">Reservé<i class="bi bi-arrow-right ms-2"></i></a>    
                                    </div>                  
                                </div>
                            </div>
                        </div>
                    </div>
                 <% }) %>
              
                <!-- Card item END -->
    
                        
        </div>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer-client.ejs') %>

  <!-- Footer End !! -->   
</body>
</html>
