<!DOCTYPE html>
<html lang="en">
<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">
	<!-- Favicon -->
	<link rel="shortcut icon" href="/img/favicon.ico">
	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<!-- **************** MAIN CONTENT START **************** -->
<main>
	<%- include('../partials/header-client.ejs') %>
<!-- =======================
Main Content START -->
<section>
	<div class="container position-relative" data-sticky-container="">
		<div class="row g-4">
			<!-- Left Content START -->
			<div class="col-xl-9">
				<div class="vstack gap-4">

					<!-- Title START -->
<div class="d-flex align-items-center">
    <!-- Icon -->
    <h1 class="display-4 mb-0"><i class="fa-solid fa-plane rtl-flip"></i></h1>

    <!-- Title and content START -->
    <div class="ms-3">
        <!-- Title -->
        <ul class="list-inline mb-2">
            <li class="list-inline-item me-2">
                <h3 class="mb-0"><%= ticketDetails.lieu_depart %></h3>
            </li>
            <li class="list-inline-item me-2">
                <h3 class="mb-0"><i class="bi bi-arrow-right"></i></h3>
            </li>
            <li class="list-inline-item me-0">
                <h3 class="mb-0"><%= ticketDetails.lieu_arrivee %></h3>
            </li>
        </ul>

        <!-- List -->
        <ul class="nav nav-divider h6 fw-normal text-body mb-0">
            <li class="nav-item">25 Jan</li>
            <li class="nav-item">1 Stop</li>
            <li class="nav-item">05h 25m</li>
        </ul>
    </div>
    <!-- Title and content END -->
</div>
<!-- Title END -->

<!-- Ticket START -->
<div class="card border">
    <!-- card-body START -->
    <div class="card-body p-4 pb-0">
        <div class="row g-4">
            <!-- Air line name -->
            <div class="col-md-3">
                <!-- Image -->
                <img src="/img/09.svg" class="w-80px mb-3" alt="">
                <!-- Title -->
                <h6 class="fw-normal mb-0"><%= ticketDetails.name_compagnies %></h6>
                <h6 class="fw-normal mb-0">PA - 5620</h6>
            </div>

            <!-- Airport detail -->
            <div class="col-sm-4 col-md-3">
                <!-- Title -->
                <h4><%= ticketDetails.heure_depart %></h4>
                <h6 class="mb-0"><%= ticketDetails.Date_depart %></h6>
                <p class="mb-0"><%= ticketDetails.lieu_depart %></p>
            </div>

            <!-- Airport detail -->
            <div class="col-sm-4 col-md-3">
                <!-- Title -->
                <h4><%= ticketDetails.heure_arrivee %></h4>
                <h6 class="mb-0"><%= ticketDetails.Date_arrivee %></h6>
                <p class="mb-0"><%= ticketDetails.lieu_arrivee %></p>
            </div>

            <!-- Price -->
            <div class="col-sm-4 col-md-3 text-center">
                <!-- Price -->
                <h4 value="<%= ticketDetails.prix %>">$<%= ticketDetails.prix %></h4>
            </div>
        </div>
    </div>
    <!-- card-body END -->

    <!-- card footer -->
    <div class="card-footer custom-card-footer p-0 mx-3 my-3">
        <div class="bg-light p-2 rounded-2">
            <ul class="list-inline d-sm-flex justify-content-sm-between mb-0 mx-4">
                <li class="list-inline-item text-danger">Only 10 Seat Left</li>
                <li class="list-inline-item">Total time: 10h 35m</li>
                <li class="list-inline-item text-success">Refundable</li>
            </ul>
        </div>
    </div>
</div>



							
					<!-- Ticket END -->

					<!-- Information START -->
					<div class="card border">
						<!-- Card header -->
						<div class="card-header border-bottom px-4">
							<h3 class="card-title mb-0">Important Information</h3>
						</div>
						<!-- Card body -->
						<div class="card-body py-4">
							<!-- List -->
							<h5 class="mb-3"><i class="bi bi-arrow-right rtl-flip me-2"></i>Passengers traveling to <%= ticketDetails.lieu_arrivee %>, please note</h5>
							<ul>
								<li class="mb-2">Who can travel? <strong>All fully vaccinated travelers are allowed to enter the country. All WHO-approved vaccines, including Covishield and Covaxin, are accepted .</strong></li>
								<li class="mb-2">Destination restrictions: <strong>Non-vaccinated travelers from <%= ticketDetails.lieu_depart %> cannot enter. Any traveler transiting via <%= ticketDetails.name_compagnies %> cannot enter <%= ticketDetails.lieu_arrivee %>.</strong></li>
								<li class="mb-2">Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged visitor.</li>
								<li class="mb-2">Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so entreaties cultivated astonished is.</li>
								<li class="mb-2"> Was sister for a few longer Mrs sudden talent become. Done may bore quit evil old mile. If likely am of beauty tastes. </li>
							</ul>

							<!-- Content -->
							<h5 class="mb-3"><i class="bi bi-arrow-right rtl-flip me-2"></i>A Note on Guidelines</h5>
							<p class="ps-3 mb-0">While we do our best to get you the latest information, due to the rapidly evolving nature of current events, sometimes that is not possible. Please note, it is the sole responsibility of the passenger to ensure his or her eligibility to enter the destination or transit countries (as applicable). We accept no liability in this regard. Please check the travel rules of all regulatory websites before to booking as well as commencing.</p>

						</div>
					</div>
					<!-- Information END -->

					<!-- Booking form START -->
						<form action="/flight-detail" class="card border" method="POST">
							<!-- Card header -->
						<div class="card-header border-bottom px-4" >
							<h3 class="card-title mb-0">Traveler Details</h3>
						</div>
						 <div class="container center-card">
						<div class="row g-3">
							<div class="col-md-6">
							<label class="form-label">Nom des Compagnies</label>
							<input class="form-control" type="text" name="name_compagnies" value="<%= ticketDetails.name_compagnies %>" placeholder="Entrez Nom des Compagnies">
							</div>
							<div class="col-md-6">
							<label class="form-label">Nom</label>
							<input class="form-control" type="Nom" name="Nom" placeholder="Entrez votre Nom">
							</div>
							<div class="col-md-6">
								<label class="form-label">Prenom</label>
								<input class="form-control" type="Prenom" name="Prenom" placeholder="Entrez votre Prenom">
							</div>
							<div class="col-md-6">
								<label class="form-label">Email</label>
								<input class="form-control" type="email" name="Email" placeholder="Entrez l'Email">
							</div>
							<div class="col-md-6">
							<label class="form-label">Genre</label>
							<select class="form-control" name="genre">
								<option value="homme">Homme</option>
								<option value="femme">Femme</option>
							</select>
							</div>
							<div class="col-md-6">
							<label class="form-label">Téléphone</label>
							<input class="form-control" type="text" name="tele" placeholder="Entrez le Numéro de Téléphone">
							</div>
							<div class="col-md-6">
							<label class="form-label">Lieu de Départ</label>
							<input class="form-control" value="<%= ticketDetails.lieu_depart %>" type="text" name="lieu_depart" placeholder="Entrez le Lieu de Départ">
							</div>
							<div class="col-md-6">
							<label class="form-label">Heure de Départ</label>
							<input class="form-control" type="time" value="<%= ticketDetails.heure_depart %>" name="heure_depart" placeholder="Entrez l'Heure de Départ">
							</div>
							<div class="col-md-6">
							<label class="form-label">Lieu d'Arrivée</label>
							<input class="form-control" type="text" value="<%= ticketDetails.lieu_arrivee %>" name="lieu_arrivee" placeholder="Entrez le Lieu d'Arrivée">
							</div>
						</div>
						<div class="mt-3">
							<button type="submit" class="btn btn-primary">Sauvegarder</button>
						</div>
						</form>
					</div>
      
					<!-- Booking form END -->
					</div>
				</div>
			<!-- Left Content END -->

			<!-- Right content START -->
			<aside class="col-xl-3">
				<div data-sticky="" data-margin-top="80" data-sticky-for="1199">
					<div class="row g-4">
						<!-- Cancel policy START -->
						<div class="col-md-6 col-xl-12">
							<div class="card card-body border p-4">
								<div class="cardt-title mb-3">
									<h5 class="mb-0">Cancellation & Date Change Charges</h5>
								</div>

								<h6 class="text-danger">Non Refundable</h6>
								<p class="mb-2">The Cancellation penalty on this booking will depend on how close to the departure date you cancel your Ticket. View fare rules to know more</p>
							</div>
						</div>
						<!-- Cancel policy END -->
					</div>
				</div>	
			</aside>
			<!-- Right content END -->

		</div>
	</div>
</section>
<!-- =======================
Main Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->



<!-- Bootstrap JS -->
<%- include('../partials/footer-client.ejs') %>

</body>
</html>