<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
   <!-- FontAwesome -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="/css/Responables.css" rel="stylesheet">
</head>
<body>
 <!-- Header -->
 <%- include('../partials/header.ejs') %>
 <!-- Header Ends!! -->
    <div class="table-controls">  
        <a href="add-flight">
            <button class="button-primary">
                <i class="button-Ajoute"></i> Ajouter flight
            </button>
        </a>
        <a href="/dashboard">
            <i class="button-arrow"></i>
        </a>
    </div>
    
    
   
    <div class="card-body">
  
        <table>
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Name_companies</th>
                    <th>Description</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <% flightinfo.forEach(flightinfo => { %>
                <tr>
                    <td><%= flightinfo.username %></td>
                    <td><%= flightinfo.name_companies %></td>
                    <td><%= flightinfo.description %></td>
                    
                   
                    <td>
                        <a href="/edit-flight/<%= flightinfo._id %>" class="btn btn-sm btn-light mb-0">Edit</a>
                       
                        <form action="/edit-flight/<%= flightinfo._id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                        </form>
                    </td>
                    
                    
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
        <%- include('../partials/footer.ejs') %>

</body>
</html>
