<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="/css/Responables.css" rel="stylesheet">
</head>
<style>
    .table-controls {
     display: flex;
     justify-content: space-between; /* Align controls to the right */
     padding: 10px 70px;
     margin-bottom: 1px;
 }
 
 .arrow{
     font-size: 25px;
 }
 .arrow a{
     font-size: 30px;
     color: black;
 }
 </style>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Header Ends!! -->
   

  <div class="table-controls">
    <div class="table-controls">  

        <div class="arrow">
            <a href="/dashboard-Responsable">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>
      <a href="flightReservation">
          <button class="button-primary">
              <i class="button-Ajoute"></i> Ajouter flightReservation
          </button>
      </a>
   
  </div>
 

  <div class="card-body">
      <table>
          <thead>
              <tr>
                  <th>name_companies</th>
                  <th>Email</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Genre</th>
                  <th>Téléphone</th>
                  <th>Lieu Départ</th>
                  <th>Heure Départ</th>
                  <th>Lieu Arrivée</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <% ListFlight.forEach(flight => { %>
              <tr>
                <td><%= flight.name_compagnies.name_compagnies %></td>
                  <td><%= flight.Email %></td>
                  <td><%= flight.Nom %></td>
                  <td><%= flight.Prenom %></td>
                  <td><%= flight.genre %></td>
                  <td><%= flight.tele %></td>
                  <td><%= flight.lieu_depart %></td>
                  <td><%= flight.heure_depart %></td>
                  <td><%= flight.lieu_arrivee %></td>
                  <td>
                      <a href="/edite_flightReservation/<%= flight._id %>" class="btn btn-sm btn-light mb-0">Edit</a>
                      <form action="/edite_flightReservation/<%= flight._id %>?_method=DELETE" method="POST" style="display:inline;">
                          <button type="submit" class="btn btn-sm btn-danger mb-0">Delete</button>
                      </form>
                  </td>
              </tr>
              <% }); %>
          </tbody>
      </table>
  </div>

  <%- include('../partials/footer.ejs') %>
</body>
</html>
