<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Reservations</title>
  <!-- FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="/css/Responables.css" rel="stylesheet">
  <style>
    .table-controls {
      display: flex;
      justify-content: space-between;
      padding: 10px 70px;
      margin-bottom: 1px;
    }

    .arrow {
      font-size: 25px;
    }
    .arrow a {
      font-size: 30px;
      color: black;
    }
  </style>
</head>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Header Ends!! -->
  
  <div class="table-controls">  
    <div class="arrow">
      <a href="/dashboard-Responsable">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
    
  </div>
   
  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Nom de l'Hôtel</th>
          <th>Nom du client</th>
          <th>Prénom du client</th>
          <th>Numéro de Téléphone</th>
          <th>Date d'entrée</th>
          <th>Date de sortie</th>
          <th>Nombre de Personnes</th>
          <th>Nombre de Chambres</th>
       
        </tr>
      </thead>
      <tbody>
        <% reservations.forEach(reservation => { %>
        <tr>
          <td><img style="height: 100px;" width="70%" src="<%= reservation.Nom_Hotel.Photo %>" alt="Hotel Image"></td>
          <td><%= reservation.Nom_Hotel.Nom_Hotel %></td>
          <td><%= reservation.Nom %></td>
          <td><%= reservation.Prénom %></td>
          <td><%= reservation.Numéro_Téléphone %></td>
          <td><%= reservation.Date_entre %></td>
          <td><%= reservation.Date_sortie %></td>
          <td><%= reservation.Nombre_Personne %></td>
          <td><%= reservation.Nombre_Chambre %></td>
          
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <%- include('../partials/footer.ejs') %>

</body>
</html>
